<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- ================== 2：微信token配置 ================== -->
  <add key="token" value="weixin" />
  <!-- ================== 2.1：微信appid、secret配置用于获取access_token ================== -->
  <add key="appid" value="wx44f8483b5dd952d0" />
  <add key="secret" value="48dd07d24ca75aff634e7e50e4b5ceb1" />
  <!-- 允许重复登录(单点登录与多点登陆) -->
  <add key="CheckOnLine" value="true" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 启用数据登录日志-->
  <add key="IsDBLoginLog" value="false" />
  <!-- 用户登录账户 Code用户编码 Name用户名称-->
  <add key="LoginType" value="Code" />
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="xxx软件公司" />
  <!-- 系统名称 -->
  <add key="SystemName" value="xxx管理系统" />
  <!-- 软件名称 -->
  <add key="SoftName" value="xxx管理软件" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />
  <!-- LicenceKey -->
  <add key="LicenceKey" value="123456" />
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="AuthAssemblyNameDAL" value="BTLF.BZHS.DAL" />
  <add key="AuthAssemblyNameBLL" value="BTLF.BZHS.BLL" />
  <add key="HIAssemblyNameDAL" value="BTLF.HI.DAL" />
  <add key="HIAssemblyNameBLL" value="BTLF.HI.BLL" />
  <add key="BZHSAssemblyNameDAL" value="BTLF.BZHS.DAL" />
  <add key="BZHSAssemblyNameBLL" value="BTLF.BZHS.BLL" />
</appSettings>